*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Roboto', sans-serif;
}
a {
  text-decoration: none;
}
.container{
    width: 100%;
    max-width:1000px;
    margin: 0 auto;
    padding: 0 15px;
}
ul,li{
    list-style: none;
}
ul{
    display: flex;
}
@media(max-width:1200px){
    .container{
        max-width:920px;
    }
}
@media(max-width:992px){
    .container{
        max-width:750px;
    }
}
@media(max-width:767px){
    .container{
        max-width:none !important;
    }
}
/**HEADER**/
header{
    font-family: 'Lobster', cursive;
    background: url("img/h-s1/1.jpeg") no-repeat;
    background-size: cover;
    background-position: top center;
    height: 500px;
}
.header__star{
    position: relative;
    padding: 180px 0;
}
.header__title{
    margin-top: 30px;
    font-style: italic;
    font-size: 42px;
    color: white;
    text-align: center;
}
.header__title br{
    display: none;
}
@media(max-width:1200px){
    header{
        height: 450px;
    }
    .header__star{
        position: relative;
        padding: 160px 0;
    }
}
@media(max-width:1120px){
    .star {
        background-position:top left!important;
        position: relative;
    }
}
@media(max-width:1060px){
    header{
        font-family: 'Lobster', cursive;
        background: url("img/h-s1/1.jpeg") no-repeat;
        background-size: cover;
        background-position: top top;
        height: 400px;
    }
    .header__star{
        position: relative;
        padding: 140px 0;
    }
}
@media(max-width:992px){
    
}
@media(max-width:767px){
    .container{
        max-width:none !important;
    }
    .header{
        background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2) ), url("img/h-s1/1.jpeg") no-repeat;
        background-size: cover;
        background-position: center center;
        height: 400px;
    }
    .header__star{
        position: relative;
        padding: 120px 0;
    }
}
@media(max-width:500px){
    .header__title{
        font-size: 34px;
    }
}
@media(max-width:425px){
    header{
        height: 400px !important;
    }
    .header__title{
        font-size: 38px;
        margin-top: 20px;
        box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.2);
    }
    .header__title br{
        display: block;
    }
}
/*star*/
.stars {
    padding: 10px;
}
.star {
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 70px;
    background: url('img/h-s1/1.jpeg')no-repeat;
    background-position:top 16% center;
    position: relative;
}
.star__wrapper{
    margin: 0 auto;
    background-color: white;
    border-radius: 100%;
    width: 90px;
}
.star:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background: linear-gradient(to bottom, transparent 0%, transparent 100%);
    z-index: 1;
}
.star,
.star:before {
    -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}
@media(max-width:500px){
    .star__wrapper{
        margin: 0 auto;
        background-color: white;
        border-radius: 100%;
        width: 80px;
    }
    .star {
        width: 60px;
        height: 60px;
    }
}
/**MAIN**/
.section__0{
    display: none;
    background-color: #2e2d2e;
    padding: 10px 0;
    overflow:auto;
}
.nav__wrapper{
    display: flex;
    justify-content: center;
}
.nav__flexbox{
    display: flex;
}
.nav__top{
    display: flex;
    margin-right: 25px;
}
.nav__bottom{
    display: flex;
}
.nav__center{
    display: flex;
    margin-right: 25px;
}
.nav__top a:last-child{
    margin-right: 0;
}
.nav__center a:last-child{
    margin-right: 0;
}
.nav__bottom a:last-child{
    margin-right: 0;
}
.section__0 a{
    display: block;
    color: white;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 700;
    margin-right: 30px;
}
@media(max-width:767px){
    .section__0{
        display: block;
    }
}
@media(max-width:550px){
    .nav__wrapper{
        flex-direction: column;
        align-items: center;
    }
}
@media(max-width:375px){
    .section__0 a{
        font-size: 11px;
        margin-right: 20px;
    }
}
/**section__1**/
.section__1{
    margin-top: 100px;
}
.main__title{
    font-family: 'Lobster', cursive;
    font-style: italic;
    font-size: 26px;
    color: #31383f;
    text-align: center;
    letter-spacing: 0.01em;
    margin: 10px 0 15px 0;
}
.main__title-span{
    color: #ce5a0f;
}
@media(max-width:767px){
    .main__title{
        font-size: 20px;
        margin: 10px 0 15px 0;
    }
}
/*star-main*/
.main__star {
    margin: 0 10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    background: linear-gradient(to bottom, #584940 0%, #584940 100%);
    position: relative;
}
.main__star:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background: linear-gradient(to bottom, #584940 0%, #584940 100%);
    z-index: 1;
}
.main__star,
.main__star:before {
    -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}
.main__logo-img{
    margin: 0 auto;
    display: flex;
    width: 300px;
    align-items: center;
}
.main__hr{
    border-bottom: 2px solid #c9c4c2;
    width: 100%;
}
/*card*/
.cards{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}
.card__item {
    padding: 25px 20px 40px 20px;
    background-color: rgb(245, 245, 245);
    box-shadow: 1px 4px 7px rgba(0,0,0,0.5); /* Параметры тени */
    width: 450px;
    height: 100%;
}
.card__item::before, .card__item::after {
    position: absolute; /* Абсолютное позиционирование */
    box-shadow: 0 0 10px rgba(0,0,0,.5); /* Параметры тени */
    background: #f7f7f7; /* Цвет фона */
}
.card__item {
    position: relative; /* Относительное позиционирование */
}
.card__item::after {
    content: ''; /* Выводим рамку */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; top: 0; /* Положение */
    width: 100%; height: 100%; /* Размеры */
    z-index: -1; /* Опускаем вниз */
    transform: rotate(-2deg); /* Поворачиваем */
}
.card__wrapper::before, .card__wrapper::after{
    position: absolute; /* Абсолютное позиционирование */
    box-shadow: 0 0 5px rgba(0,0,0,.5); /* Параметры тени */
    background: #f7f7f7; /* Цвет фона */
}
.card__wrapper{
    position: relative; /* Относительное позиционирование */
}
.card__wrapper::after{
    content: ''; /* Выводим рамку */
    position: absolute; /* Абсолютное позиционирование */
    left: 0; top: 0; /* Положение */
    width: 100%; height: 100%; /* Размеры */
    z-index: -1; /* Опускаем вниз */
    transform: rotate(2deg); /* Поворачиваем */
}
.card__bg_1 {
    background: url('img/h-s1/2.jpeg') center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
    width: 100%;
}
.card__bg_2 {
    background: url('img/h-s1/3.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 250px;
}
.card__name {
    margin: 10px 0;
    text-align: center;
    color:#383838;
    font-size: 16px;
    font-weight: 700;
}
.card__info {
    line-height:20px;
    font-size: 12px;
    font-weight: 400;
    color: rgb(158, 158, 158);
}
@media(max-width:1200px){
    .section__1{
        margin-top: 50px;
    }
    .card__item {
        padding: 25px 20px 40px 20px;
        background-color: rgb(245, 245, 245);
        box-shadow: 1px 4px 7px rgba(0,0,0,0.5); /* Параметры тени */
        width: 400px;
    }
    .card__bg_1 {
        background: url('img/h-s1/2.jpeg') center center;
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
        width: 100%;
    }
    .card__bg_2 {
        background: url('img/h-s1/3.jpeg');
        background-size: cover;
        background-repeat: no-repeat;
        height: 200px;
    }
    .card__info br{
        display: none;
    }
}
@media(max-width:992px){
    .cards{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .card__wrapper:last-child{
        margin-top: 50px;
    }
}
@media(max-width:767px){
    .card__item {
        width: 350px;
    }
}
@media(max-width:500px){
    .card__item {
        width: 300px;
    }
    .card__bg_1 {
        height: 150px;
    }
    .card__bg_2 {
        height: 150px;
    }
}
@media(max-width:425px){
    .card__item {
        width: 280px;
    }
    .card__name {
        font-size: 14px;
    }
}
/*section__2*/
.section__2{
    margin-top: 100px;
}
.menu__catalog{
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
}
.menu__catalog-item{
    width: 305px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    box-shadow: 1px 5px 10px rgba(0,0,0,0.1);
    padding: 15px;
}
.menu__catalog-wrapper{
    padding: 20px 20px;
    border: 5px solid rgb(247, 247, 247);
}
.menu__card{
    margin-top: 40px;
}
.leftimg1{
    background: url('img/s2/1.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.leftimg2{
    background: url('img/s2/2.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.leftimg3{
    background: url('img/s2/3.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.leftimg4{
    background: url('img/s2/4.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.leftimg5{
    background: url('img/s2/5.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.leftimg6{
    background: url('img/s2/6.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.leftimg7{
    background: url('img/s2/7.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.leftimg8{
    background: url('img/s2/8.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.leftimg9{
    background: url('img/s2/9.jpeg') no-repeat;
    background-position: center center;
    margin: 0 10px 10px 0;
    width:90px;
    height:90px;
    border-radius: 100%;
}
.float__item{
    float:left;
}
.menu__title{
    font-size: 20px;
    font-weight: 700;
    color: #d36e29;
    text-align: center;
    margin-bottom: 10px;
}
.menu__hr{
    border: 2px solid rgb(247, 247, 247);
}
.menu__info{
    font-weight: 700;
    font-size: 14px;
}
.menu__mini-info{
    font-weight: 700;
    line-height: 18px;
    margin-top: 5px;
    color:#b1b1b1;
    font-size: 0.7rem;
}
@media(max-width:1200px){
    .menu__catalog{
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    .menu__catalog-item{
        width: 550px;
        margin-top: 50px;
    }
    .menu__catalog-item:first-child{
        margin-top: 0;
    }
}
@media(max-width:767px){
    .menu__catalog-item{
        width: 100%;
    }
    .float__item{
        float: none;
        display: block;
    }
    .menu__card{
        display: flex;
    }
    .menu__wrapper__flex{
        width: 80%;
    }
    .menu__info br{
        display: none;
    }
    
}
@media(max-width:500px){
    .float__item{
        float: left;
    }
    .menu__wrapper__flex{
        width: 100%;
    }
    .menu__card{
        display: block;
    }
    .main__logo-img{
        width: 200px;
    }
}
/**SECTION__3**/
.section__3{
    margin-top: 100px;
}
.s3__title{
    font-weight: 700;
    font-size: 26px;
    color: #31383f;
    text-align: center;
    letter-spacing: 0.01em;
    margin: 10px 0 15px 0;
}
.dishes{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.dishes__item{
    width: 220px;
    height: 100%;
    margin: 30px 20px 0 0;
    background-color: #303030;
}
.dishes__item:nth-child(4),
.dishes__item:nth-child(8){
    margin-right: 0;
}
.dish1{
    width: 220px;
}
.figc1{
    color: white;
    font-size: 13px;
    padding: 15px 15px 5px 15px;
}
.figc2{
    color: #4f5052;
    font-size: 12px;
    padding: 0 15px 20px 15px;
}
@media(max-width:1200px){
    .dishes{
        justify-content: center;
    }
    .dishes__item{
        margin: 20px 10px 0 0 !important;
        width: 280px;
        height: 280px;
    }
    .dish1{
        width: 280px;
    }
}
/**SECTION__4**/
.section__4{
    margin-top: 100px;
}
.quote{
    line-height: 20px;
    margin: 30px 0;
    text-align: center;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.02em;
    color: #31383f;
}
.quote1__wrapper{
    display: flex;
    justify-content: center;
}
.quote__img{
    color:#cd5704;
    font-size: 40px;
    margin-right: 10px;
}
.quote__info{
    font-size: 12px;
    color: #8b8b8b;
    font-style: italic;
    line-height: 20px;
}
.quote__text{
    margin-top: 5px;
}
.quote__name{
    font-size: 14px;
    color:#cd5704;
    text-align: right;
    margin-bottom: 5px;
}
/**quote__star**/
.quote__stars {
    text-align: right;
}
.quote__star {
    display: inline-block;
    vertical-align: top;
    width: 11px;
    height: 11px;
    background: linear-gradient(to bottom, #cd5704 0%, #cd5704 100%);
    position: relative;
}
.quote__star:before {
    content: '';
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    right: 1px;
    background: linear-gradient(to bottom, #cd5704 0%, #cd5704 100%);
    z-index: 1;
}
.quote__star,
.quote__star:before {
    -webkit-clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
    clip-path: polygon(50% 0%, 66% 27%, 98% 35%, 76% 57%, 79% 91%, 50% 78%, 21% 91%, 24% 57%, 2% 35%, 32% 27%);
}
.quote-2{
    margin-top: 10px;
}
@media(max-width:992px){
    .quote__info br{
        display: none;
    }
}
/**SECTION__5**/
.section__5{
    margin-bottom: 100px;
    margin-top: 50px;
}
form{
    margin-top: 50px;
    width: 100%;
}
.form__input{
    display: flex;
}
.mini__container{
    width: 100%;
    max-width:770px;
    margin: 0 auto;
    padding: 0 15px;
}
textarea{
    border: 1px solid #efefef;
    padding: 15px 20px;
    margin-top: 30px;
    width: 100%;
    outline: none;
    height: 100px;
    font-size: 13px;
}
textarea::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
}
textarea:-ms-input-placeholder {
    font-family: 'Roboto', sans-serif;
}
textarea:-moz-placeholder {
    font-family: 'Roboto', sans-serif;
}
textarea::-moz-placeholder {
    font-family: 'Roboto', sans-serif;
}
input{
    font-family: 'Roboto', sans-serif;
    border: 1px solid #efefef;
    padding: 15px 20px;
    width: 50%;
    outline: none;
    font-size: 13px;
}
input:first-child{
    margin-right: 20px;
}
input::-webkit-input-placeholder {
    font-family: 'Roboto', sans-serif;
}
.button{
    font-size: 13px;
    margin-top: 20px;
    width: 250px;
    padding: 15px 20px;
    border-radius: 5px;
    background-color: #303030;
    color:white;
}
@media(max-width:767px){
    .form__input{
        justify-content: center;
        flex-direction: column;
    }
    input{
        width: 100%;
        margin-right: 0 !important;
        margin-top: 20px;
    }
    form{
        margin-top: 30px;
    }
    textarea{
        margin-top: 20px;
    }
}
@media(max-width:425px){
    .button{
        width: 100%;
    }
}
/**FOOTER**/
.footer{
    background: #cd5704;
    padding: 30px 0;
}
.arrow__up{
    position: relative;
    color:#cd5704;
    background-color: rgb(255, 255, 255);
    font-size: 16px;
    border-radius: 100%;
    width: 42px;
    height: 40px;
    text-align: center;
    padding-top:12px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -20px;
    cursor: pointer;
}
.icon__wrapper{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.icon1{
    margin-right: 30px;
    background-color: #00000042;
    width: 30px;
    height: 30px;
    padding-top: 5px;
    text-align: center;
}
.icon1:last-child{
    margin-right: 0;
}
.icon__i{
    font-size: 16px;
    color:white;
}
.copyright{
    margin-top: 20px;
    text-align: center;
    color:white;
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 700;
}
@media(max-width:425px){
    .icon1{
        margin-right: 15px;
    }
}